*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 0.9375rem;
    margin: 0;
    background-color: $veryDarkBlue;
    color: white;

}

main {
    
    width: 100%;
    min-height: 667px;
    background-image: url("./../../images/bg-mobile.png");
    position: relative;
    padding: 1.5rem;
    
    @include breakpoint-up(large){
        background-image: url("./../../images/bg-desktop.png");
        background-repeat: no-repeat;
        background-position: bottom;
        min-height: 800px;
        position: relative;
    }
}


.flex{
    display: flex;

    &__column{
        background-color: $darkBlue;
    }
}

// only for screen readers
.sr-text{
position: absolute;
color: transparent;
background: transparent;
border: 0px;
height: 1px;
width: 1px;
overflow: hidden;
}
